<div class="banner">
  <div class="container">
    <h1><strong>Remote Assess.</strong></h1>
    <p>Change the way your business operates by using 360° photography.</p>
    <a class="btn btn-flat" href="#">Get in touch</a>
  </div>
</div>

<div class="container-fluid">
  <div class="d-flex justify-content-around">
    <div class="row">
      <div class="col-sm">
        <div class="d-flex justify-content-center">
          <i class="far fa-image"></i>
        </div>
        <div class="d-flex justify-content-center">
          <h3>360° of high definition</h3>
        </div>
        <div class="d-flex justify-content-center">
          <p>See all the details in every corner of the room.</p>
        </div>
      </div>
      <div class="col-sm">
        <div class="d-flex justify-content-center">
          <i class="fab fa-cloudversify"></i>
        </div>
        <div class="d-flex justify-content-center">
          <h3>Accessible anytime, anywhere</h3>
        </div>
        <div class="d-flex justify-content-center">
          <p>Stay safe during the pandemic by remaining off site.</p>
        </div>
      </div>
      <div class="col-sm">
        <div class="d-flex justify-content-center">
          <i class="fas fa-tachometer-alt"></i>
        </div>
        <div class="d-flex justify-content-center">
          <h3>Fast turnaround</h3>
        </div>
        <div class="d-flex justify-content-center">
          <p>Remote Assess will ensure your photos are delivered on the same day they are taken.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col nopadding">
      <img src="https://source.unsplash.com/kmY-rsl7BRw/1600x900" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col nopadding">
      <div class="d-flex justify-content-center align-items-center">
        <h2>360° of high definition</h2>
        <p>This is an explanation of the first row</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col nopadding">
      <h2>Accessible anytime, anywhere</h2>
      <p>This is an explanation of the second row</p>
    </div>
    <div class="col nopadding">
      <img src="https://source.unsplash.com/i5iIhHSAtp4/1600x900" class="img-fluid" alt="Responsive image">
    </div>
  </div>
  <div class="row">
    <div class="col nopadding">
      <img src="https://source.unsplash.com/qmvl6m4Tots/1600x900" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col nopadding">
      <h2>Fast turnaround</h2>
      <p>This is an explanation of the third row</p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>
